@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
html {
  scroll-behavior: smooth;
}
*{
  transition: var(--transition);
}
:root {
  --transition: all 0.3s ease-in-out;
  --color: aliceblue;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --icon-color: aliceblue;
    --primary-color: #161832;
    --secondry-color: #d13949
    --active-color:#03022a;
    --global-color:#03022a;
    --card-bg:#191c29;
}

body::-webkit-scrollbar {
  width: 5px;
}
#about::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondry-color);
  border-radius: 50px;
}
body {
  background: var(--global-color);
  color: var(--icon-color);
  transition: var(--transition);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-direction-column {
  flex-direction: column !important;
}
a {
  text-decoration: none !important;
}
a:hover{
  color: var(--color);
}
.boint{
  display: none;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
  font-family: var(--font-sans);
}
.dark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 22px;
  z-index: 111111111111;
  position: fixed;
  cursor: pointer !important;
  top: 30px;
  color: var(--icon-color);
  right: 16px;
}
.loves{
  width: 100%;
  position: fixed;
  z-index: 11111111111111111111111;
  background: var(--active-color);
  top: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loves i{
  font-size: 20px;
  transition: var(--transition);
  position: absolute;
}
.loves i:first-child{
  animation: loves 2s linear infinite  ;
}
.loves i:nth-child(3){
  animation: loves 2s linear infinite ;
   animation-delay: 1s;
}
.loves i:last-child{
  animation: loves 2s linear infinite ;
   animation-delay: 2s;
}

/* navebar */
.btn-nave{
display: none;}
.navebar {
  height: 100vh;
  /* width: 25% !important; */
  min-width: 420px;
  background: var(--primary-color);
  color: aliceblue;
  position: fixed;
  left: 0;
  transition: var(--transition);
  top: 0;
}
.navebar .container div{
  margin-top: 10px;
}
.navebar .container .lnk ul li{
  margin: 10px 0;
}
.navebar .logo {
  padding-top: 50px;
}
.navebar .myname {
  text-align: center;
  color: var(--icon-color);
}
.navebar .logo .myimg {
  box-shadow: 0px 0px 8px 0px var(--secondry-color);

  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--secondry-color);
}
.navebar .lnk ul {
  max-width: 300px;
}
.navebar .lnk ul li a {
  padding: 10px 0;
  margin: 7px 0;
  position: relative;
  overflow: hidden;
  justify-content: space-around !important;
  border-radius: 7px;
  text-align: center;
  background: var(--secondry-color);
  color: var(--color);
  transition: var(--transition);
  font-size: 20px;
}
.navebar .lnk ul li a::before,
.head::after,
.head::before,
.cv-btn::after,
.cv-btn::before,
.navebar .lnk ul li a::after{
  content: "";
  height: 10px;
  display: flex;
  transition: var(--transition);
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10px;
  border-radius: 50%;
  background-color: var(--active-color);
}
.navebar .lnk ul li a::before,.cv-btn::before{
  left: 10px;
}
.navebar .lnk ul li a::after,.cv-btn::after {
  right: 10px;
}
.navebar .lnk ul li a:hover::after,
.navebar .lnk ul li a:hover::before,
.active::after,
.active::before{
  width: 250px !important;
  height: 250px !important;
}
.navebar .social li {
  margin: 15px;
  font-size: 20px;
}
.navebar .lnk ul li a i {
  z-index: 11111;
}
.navebar .lnk ul li a p {
  margin: 0;
  z-index: 11111;
}
.nav-footer{
  position: absolute;
  bottom: 10px;
  color: var(--icon-color);
}
.fa-heart{
color: var(--secondry-color);
}
.social li a {
  color: var(--icon-color);
}

.head::before {
  left: -30px;
  background-color: var(--secondry-color) !important;
}
.head::after {
  right: -30px;
  background-color: var(--secondry-color) !important;
}
.head {
  position: absolute;
  top: -30px;
}
/* header */
header {
  background-image: url("../asset/img/pattern.png");
  position: relative;
  background-repeat: repeat;
  background-position-x: center;
  animation: pattern-anim 50s infinite;
  width: 75%;
  min-height: 100vh;
  max-width: calc(100% - 315px);
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
header section {
  height: auto;
  /* min-height: 90vh; */
  margin: 40px 0;
}
.cv-btn:hover:after,.cv-btn:hover:before {
  width: 100px !important;
  height: 100px !important;
  z-index: -111;
}
#home {
  height: 100vh;
  overflow: hidden;
}
#home .container .center {
  z-index: 1111111;
}
#home .container img {
  position: absolute;
  right: 9%;
}
/* #03022a */
/* #161832 */

.spin {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: black;
}
.heart-icon {
  margin: 10px;
}
.heart-icon {
  animation: ani 5s linear infinite;
}
.cv-btn {
  padding: 12px 40px;
  background: var(--secondry-color);
  color: var(--color);
  border-radius: 4px;
  transition: var(--transition);
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.shape {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  width: 500px;
  transition: var(--transition);
  height: 500px;
  background: var(--secondry-color);
  background-image: linear-gradient(
    45deg,
    var(--secondry-color) 0%,
    var(--active-color) 100%
  );
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: spin 50s infinite;
}
div[role="progressbar"] {
  --size: 10rem;
  --fg: var(--icon-color);
  --bg: var(--card-bg);
  --pgPercentage: var(--secondry-color);
  animation: upDown 2s  infinite alternate linear;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  margin: 10px;
  place-items: center;
  transition:var(--transition);
  background: radial-gradient(
      closest-side,
      var(--secondry-color) 80%,
      transparent 0 100.9%,
      var(--color) 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--color);
}
div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  transition:var(--transition);

}
div[role="progressbar"]:hover{
    animation: growProgressBar 2s 1 forwards ;
    transition:var(--transition);

  
}
.skill-card {
  min-width: 255px;
  height: 330px;
  border-radius: 12px;
  background: var(--card-bg);
  flex-direction: column !important;
  margin: 20px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  font-family: cursive;
}
.card-bottom {
  height: 20%;
  color: var(--icon-color);
}
.card-top {
  height: 80%;
  color: #03022a;
}

.skill-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    var(--secondry-color),
    var(--active-color) 43%,
    var(--secondry-color)
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spine 2.5s linear infinite;
}
@media only screen and (max-width: 1450px) {
  .navebar{
    min-width: 330px;
  }
}

@media only screen and (max-width: 1090px) {
  .navebar .lnk ul li a i {
    display: block;
  }
 .navebar {
  width: 0;
  min-width: 0;
  overflow: hidden;
  z-index: 1111111111;
 }
 .btn-nave{
  width: 50px;
  display: block;
  background: none;
  color: var(--icon-color);
  border: 0;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 3px;
  transition: var(--transition);
  line-height: 30px;
  position: fixed;
  top: 35px;
  z-index: 1111111111111;
  left: 15px;
 }
  .navebar .container .logo .myimg {
    max-width: 50px;
  }

  .navebar .lnk ul li {
    margin: 10px;
  }


  header {
    width: 100%;
    min-width: 100%;
    left: 0;
    top: 0px;
  }
  .shape {
    width: 90% !important;
    height: 50% !important;
    position: absolute;
  }
  #home .container img {
    display: none;
  }
  .active {
    background: var(--active-color) !important;
  }

  #about {
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: unset !important;
    justify-content: flex-start !important;
  }
  .boint{
    display: flex;
  }
  .boint button{
    height: 10px;
    
    width: 10px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    margin: 1px;
  }
  .boint .active{
    background-color: var(--secondry-color) !important;
  }

}

@keyframes spine {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@keyframes pattern-anim {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 800px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 76% 24% 53% 47% / 48% 23% 77% 52% 76% 24% 53% 47% / 48% 23%
      77% 52%;
  }
}
@keyframes loves{
  0%{
    font-size: 30px;
    opacity: 1;
  }
  100%{
    font-size: 80px;
    opacity: 0.1;
  }
}
@keyframes upDown{
  0%{
    margin-bottom: 0;
  }
  100%{
    margin-bottom: -150px;
  }
}
#allPro{
  margin-top: 40px;
}
.pro-card{
  min-width: 315px;
  max-width: 400px;
  height: 250px;
  margin: 10px;
}
.pro-ditails{
  position: absolute;
height: 0%;
bottom: 0;
overflow: hidden;
}
.pro-ditails p {
  margin: 0;
}
.pro-card:hover .pro-ditails{
  height: 100%;
  background-color: var(--primary-color);

}
.pro-imgs-bar{
  border: 4px solid  var(--secondry-color);
  border-radius: 5px;
  height: 100%;

}


.pro-imgs-bar div button{
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  background-color: black !important;
  opacity: 0.5;
  color: aliceblue;
}
.pro-imgs-bar div button:hover{
  opacity: 1;
}
.pro-icons a {
  font-size: 21px;
    color: var(--secondry-color);
    margin: 10px;
}